piemanager/piemanager.db
piemanager/tasks/plano1.md
piemanager/tasks/task1.md
piemanager/.github/prompts/devjunior.prompt.md
piemanager/tasks/task2.md
piemanager/tasks/plano2.md
piemanager/tasks/task3.md
piemanager/tasks/plano3.md
