.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 10vh; 
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  padding: var(--spacing-md) var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContent {
  flex: 1; 
  padding: var(--spacing-lg);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto
}